{% load static %}
<!DOCTYPE html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'mypa.jpg' %}"/>
    <title>{% block title %}My PA{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400i" rel="stylesheet">
    <script type = "text/javascript" src = "{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'recordAudio.js' %}"></script>
    <script src="{% static 'recorder.js' %}"></script>
    <script src="{% static 'jquery-1.11.0.min.js' %}"></script>
    <script>
      function sendData(base64data){
        $.ajax({
              type: 'POST',
              url: '/store_mp3/',
              data: "arg=" + encodeURIComponent(base64data),
              success: function (response) {
              console.log("successful");
                    },
              error : function(xhr, errmsg, err) {
              alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
                    },
                    processData:false,
              });
      }
    </script>

  </head>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <span><img id="logo" src="{% static 'mypa.jpg' %}"></span><span class="header-container">My Personal Assistant</span>

        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" >
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'dashboard' %}" style="color:white;">Dashboard</a></li>
        <li><a href="{% url 'logout' %}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
        <li><a href="{%url 'login'%}" style="color:white;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="{%url 'signup'%}" style="color:white;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        {% endif %}
      </ul>
      </div>
    </div>
  </nav>
{% block content %}

{% endblock %}
</html>
